
<div ng-show="params.encuesta != null">
<input id="oculto" type="hidden" value="{{params.encuesta}}">
<p><b>Nombre encuesta: </b>{{recuento.nombre}}</p>
<b>Preguntas: </b>

<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				
				<th>
					<!-- Vacio para que muestre solo el enlace -->
				</th>
	
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pregunta in recuento.propuestas">
				<td>{{pregunta.pregunta}}</td>
				
				<td><a class="btn btn-success" href="resultados/encuestas/ver.do?encuesta={{encuesta.id}}">Ver
						resultados</a></td>
			</tr>
		</tbody>
	</table>


</div>